.ProductDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: beige;
  /* animation: product-appear 1s ease-out forwards; */
}

.productDetailsContainer {
  margin-top: 5rem;
  margin-bottom: 1rem;
  height: 95%;
  width: 95%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
}

.detailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.productContent {
  border-right: 1px solid;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes product-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 800px) {
  .detailsContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .productContent {
    border-right: 0px solid;
    border-bottom: 1px solid;
    padding-right: 2rem;
    /* margin-top: 8rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
